<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2e.core.lifecycleMappings">
		<lifecycleMapping
			class="fr.openwide.eclipse.plugins.m2e.derived.internal.MarkSubModulesAsDerivedLifecycleMapping"
			id="NULL"
			name="Mark sub-modules as derived (Noop replacement)">
		</lifecycleMapping>
	</extension>
	
	<extension point = "org.eclipse.ui.popupMenus">
		<objectContribution
			id="fr.openwide.eclipse.plugins.m2e.derived.markSubModulesAsDerivedContribution"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true">
			<action id="fr.openwide.eclipse.plugins.m2e.derived.markSubModulesAsDerivedAction"
				label="%markSubModulesAsDerived.action"
				menubarPath="org.eclipse.m2e.core.mavenMenu/markSubModulesAsDerived"
				class="fr.openwide.eclipse.plugins.m2e.derived.internal.MarkSubModulesAsDerivedAction"
				definitionId="fr.openwide.eclipse.plugins.m2e.derived.markSubModulesAsDerivedAction"
				enablesFor="+">
			</action>
		</objectContribution>
	</extension>
</plugin>